{#def title='' #}
{#import "./app.jinja" as Layout #}
{#import "common/public-nav.jinja" as PublicNav #}
{#import "common/flashes.jinja" as Flashes #}

{% do attrs.set(title=title, class="public")%}

<Layout __attrs={{attrs}}>
  <PublicNav />
  <Flashes />
  {{ content }}
</Layout>
